.container{
    display: flex;
    flex-direction: column;
    padding: 2rem;

    max-width: 50rem;
    max-height: 50rem;
  
    justify-content: center;
    align-content: center;
}

.container form{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
    max-width: 50rem;
    text-align: left;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    background: #f9f9f9;
}

.container form div{
    margin: 0.2rem;
    margin-right: 3rem;
}

.container form label{
    margin-left: 1rem;
}