.container{
    display: flex;
    flex-direction: column;
    padding: 2rem;

    max-width: 50rem;
    max-height: 50rem;
  
    justify-content: center;
    align-content: center;
}

.text {
    margin: 1rem;
    max-width: 50rem;
    text-align: left;
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 1rem;
    background: #f9f9f9;
}
