.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;  
    align-items: center;
}

.text {
  max-width: 50rem;
  text-align: left;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 1rem;
  background: #f9f9f9;
}